extends layout.pug

block content
    form(method="post")
        label(for="q1") Do you think that the possible technological developments of the next 50 years will have a postive impact?
        br
        input(type="text", name="q1")
        br
        input(type="submit", value="Submit Form")