extends layout.pug

block content
    form(method="post").text-center
        each ques,ind in questions
            .card.question
                .card-block
                    h4.card-title= "Question " + (ind + 1)
                    label.card-subtitle.text-muted.mb2(for=ind): h6= ques
                    br
                    .card-body
                        span.question-answer
                            input#a1(type="radio", name=ind, value="yes")
                            label(for="a1") Yes
                        span.question-answer
                            input#a2(type="radio", name=ind, value="no")
                            label(for="a2") No
        br
        input(type="submit", value="Submit Form")