doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/styles.css")
        title Tech Poll
    body
        //- Body
        .container
            h1.text-center.display-3 Future Tech Poll
            block content
        //- Footer
        footer.footer
            .container.text-center
                span.text-muted Copr. 2017 © S. Numerius. All Rights Reserved.